.leaderboard {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Juvanze';
    color: white;
}

.leaderboard h2 {
    font-family: 'WinterLemon';
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px black;
    color: yellow;
    font-size: 3em;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
}

/* Tabs */
.tabs {
    margin-bottom: 10px;
}

.tab {
    padding: 6px 12px;
    margin: 0 4px;
    border: none;
    cursor: pointer;
    background: #333;
    color: white;
    border-radius: 6px;
    font-family: 'WinterLemon';
}

.tab.active {
    background: rgb(49, 156, 255);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

th, td {
    padding: 6px;
    font-family: 'WinterLemon';
}

th {
    color: yellow;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    text-decoration: underline;
}

tr:nth-child(even) {
    backdrop-filter: blur(3px);
}

th:nth-child(1), td:nth-child(1) { color: white; }      /* Number */
th:nth-child(2), td:nth-child(2) { color: yellow; }     /* Name */
th:nth-child(3), td:nth-child(3) { color: orange; }     /* Class */
th:nth-child(4), td:nth-child(4) { color: limegreen; }  /* Level */
th:nth-child(5), td:nth-child(5) { color: yellow; }     /* Gear Score */
th:nth-child(6), td:nth-child(6) { color: white; }      /* Server */